<div class= "jumbotron">
<h1>Welcome to Jay's Website</h1>
<% if user_signed_in? %>
#do something
<%else %>
<p> <%=link_to "Login", new_user_registration_path, class: "btn btn-danger btn-large" %>
<%=link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-large" %> </a>
</p>
<%end%>
</div>